@model AddUserClaimModel
@{
    ViewData["Title"] = "Quyền truy cập của tài khoản";
    int i = 0;
    var claims = ViewBag.Claims;
}
<div class="mb-4 d-flex align-items-center">
    <a asp-controller="Home" asp-action="AdminIndex" class="text-dark"><i class="fa-solid fa-house px-2"></i>Trang chủ</a>
    <i class="fa-solid fa-chevron-left px-2"></i>
    <a asp-action="Index" class="text-dark"> Danh sách thành viên</a>
    <i class="fa-solid fa-chevron-left px-2"></i>
    <a class="text-dark" asp-action="AddRole" asp-route-id="@ViewBag.user.Id">Thiết lập</a>
</div>
<h2>@ViewData["Title"] : @ViewBag.user.Name</h2>
<partial name="_StatusMessage" />


<hr>

<div class="row">
    <div class="col-md-8">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="row">
                @foreach (var claim in claims)
                {
                    <div class="col-md-6">
                        <input asp-for="@Model.Claims[i]" type="checkbox" />
                        <label asp-for="@Model.Claims[i]" class="px-3 py-2">
                            @claim.Key
                        </label>
                    </div>
                    i++;
                }
            </div>
            

            <div class="form-group">
                @if (ViewBag.userclaim != null)
                {
                    <input type="submit" value="Cập nhật" class="btn btn-primary" />
                    <input type="submit" value="Xóa" asp-route-claimid="@ViewBag.userclaim.Id" 
                      class="btn btn-danger" asp-action="DeleteClaim" />
                }
                else 
                {
                    <input type="submit" value="Tạo mới" class="btn btn-primary" />
                }
                

                <a class="btn btn-secondary" asp-action="AddRole" asp-route-id="@ViewBag.user.Id">Quay lại</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}