@model AppFoods.Models.Restaurant

@{
    ViewData["Title"] = "Thông tin cơ sở";
}

<div class="mb-4 d-flex align-items-center">
    <a asp-controller="Home" asp-action="AdminIndex" class="text-dark"><i class="fa-solid fa-house px-2"></i>Trang chủ</a>
    <i class="fa-solid fa-chevron-left px-2"></i>
    <a asp-action="Index" class="text-dark"> Danh sách chuỗi cơ sở</a>
</div>
<h2>@ViewData["Title"]</h2>
<hr>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FloorNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FloorNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TableNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TableNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            <a asp-action="InfoManager" asp-route-id="@Model?.Id" asp-route-userId="@Model.User.Id">
                @Html.DisplayFor(model => model.User.Name)
            </a>
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model?.Id">Cập nhật</a> 
    <a class="btn btn-secondary" asp-action="Index">Quay lại</a>
</div>
