@model EditRoleModel
 
@{
    ViewData["Title"] = "Cập nhật role";
    var claims = ViewBag.Claims;
}
<div class="mb-4 d-flex align-items-center">
    <a asp-controller="Home" asp-action="AdminIndex" class="text-dark"><i class="fa-solid fa-house px-2"></i>Trang chủ</a>
    <i class="fa-solid fa-chevron-left px-2"></i>
    <a asp-action="Index" class="text-dark"> Danh sách role</a>
</div>
<h2>@ViewData["Title"]</h2>
<partial name="_StatusMessage"></partial>

<hr>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3 form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mb-3 form-group">
                <label class="form-label">Quyền truy cập</label><br />

                @* @Html.ListBoxFor(m => m.Claims, (IEnumerable<SelectListItem>) ViewBag.Claims, new { @class = "p-2", size = "10" }) *@
                <div class="row">
                    @foreach(string l in claims.Keys ){
                        bool flag = Model.Claims.Contains(claims[l]); 
                        <div class="col-md-6 mb-2 form-check">
                            <input type="checkbox" name="claim-@claims[l]" id="claim-@claims[l]" checked="@flag" /> 
                            <label for="claim-@claims[l]">@l</label>
                        </div>
                    }
                </div>
            </div>

            <div class="mb-3 form-group">
                <input type="submit" value="Cập nhật" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-action="Index">Danh sách các role</a>
            </div>
        </form>
        @*
        <p>Các đặc tính  (claim) của role:
            <a asp-action="AddRoleClaim" asp-route-roleid="@Model.role.Id">+ Thêm claim</a>
        </p>
        @if (Model.Claims.Count > 0)
        {
            <ul>
                @foreach (var claim in Model.Claims)
                {
                    <li>
                        <a asp-action="EditRoleClaim" asp-route-claimid="@claim.Id">
                            @claim.ClaimType  : @claim.ClaimValue
                        </a>
                        

                    </li>
                }
            </ul>
        }
        *@
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
